
/* DOCUMENT */
@font-face { 
				font-family: 'Bradley'; 
				src: url('fonts/Bradley_Hand_Bold.ttf'); 
				
}

@font-face { 
				font-family: 'Haas Unica'; 
				src: url('fonts/haasunirmn-webfont.eot'); 
}
/* RESET -------------------------------------------------------------------->*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video { margin: 0; padding: 0; font: inherit; vertical-align: baseline; }
   
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section { display: block; }
body { font-family: "Haas Unica", Helvetica, Arial, sans-serif; font-size: 1.4vw; line-height: 1.6vw; font-weight: normal; font-style: normal; font-variant-ligatures: common-ligatures; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: antialiased; -o-font-smoothing: antialiased; color: rgb(255, 255, 255); text-shadow: 0px 0px 6px rgba(0,0,0,0.3); }
.underline { text-decoration: underline; }
li .strike-through { text-decoration: line-through;
	text-indent: 1vw; }
	
#bookList ul li .book-title .non-strike{
	text-indent: 5vw;
}
#bookList ul li:hover .book-title .non-strike{ font-family: 'Bradley'; font-size: 1.6vw; line-height: 1.6vw;}
.bold { font-weight:bold; }
em { /* 	font-family: "Century Schoolbook Std", "Helvetica Neue", Helvetica, sans-serif; */ }
sup { font-size: 12px; vertical-align: super; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
    blockquote:before, blockquote:after,
    q:before, q:after { content: none; }
table { border-collapse: collapse; border-spacing: 0; }
.underline { text-decoration: underline; }



/* HIGHLIGHT -------------------------------------------------------------------->*/
/* Safari */
/*
::selection {
	background: rgb(109,102,237);
	color: #FFF; 
}
*/
/* Firefox */
/*
::-moz-selection {
	background: rgb(109,102,237);
	color: #FFF; 
}
*/
/* POSTERS -------------------------------------------------------------------->*/
/* NAV -------------------------------------------------------------------->*/
.background { position: fixed; top: 0; left; 0; width: 100%; height: 100%; z-index: -50 !important; background-size: cover; }
.square-box { position: relative; left: 25%; width: 10%; height: 20%; top: 25%; overflow: hidden; background: rgba(88, 252, 195, 1); }
    .square-box:before { content: ""; display: block; padding-top: 100%; }
.square-content { position: absolute; top: 0; left: 0; bottom: 0; right: 0; color: white; }
    .square-content div { display: table; width: 100%; height: 100%; }
    .square-content span { font-family: 'Bradley'; font-size: 1.6vw; line-height: 1.4vw; display: table-cell; text-align: center; vertical-align: middle; color: white }
/*
.poster{ 
	position:absolute;
	left:25%;
	width:50%;
	height:50%;
	top:25%;
	background: rgba(88, 252, 195, 1);
	text-align:center;
	z-index: 100000;
	box-shadow: 0px 0px 6px rgba(0,0,0,0.3);
	-moz-box-shadow: 00px 0px 6px rgba(0,0,0,0.3);
	-webkit-box-shadow: 0px 0px 6px rgba(0,0,0,0.3);   
}
*/
.poster { text-align: center; margin: 0px; position: absolute; }
    .poster:before { content: ''; display: inline-block; height: 100%; vertical-align: middle; /*   margin-right: -0.25em; /* Adjusts for spacing */ */ }
.posterType { position: fixed; top: 30%; left: 30%; width: 30%; height: 20%; display: inline-block; vertical-align: middle; padding: 5%; font-family: 'Bradley'; font-size: 2.6vw; line-height: 2.8vw; background: rgba(255, 74, 71, 1); box-shadow: 0px 0px 6px rgba(0,0,0,0.3); -moz-box-shadow: 00px 0px 6px rgba(0,0,0,0.3); -webkit-box-shadow: 0px 0px 6px rgba(0,0,0,0.3); text-shadow: none; -ms-transform: rotate(10deg); /* IE 9 */ -webkit-transform: rotate(10deg); /* Chrome, Safari, Opera */ transform: rotate(10deg); z-index: 10000; }
.small { font-size: 1.8vw; }
.posterType .close { margin: -5px 0 0 0; font-size: 5vw; line-height: 5.8vw; }
    .posterType .close:hover { font-size: 5vw; line-height: 5.8vw; }
#play-it-again-willie iframe { position: fixed; top: 0; left: 0; z-index: -1000 !important; margin: -50% 0 0 0; }
#title { position: absolute; top: 20px; left: 30px; z-index: 500 !important; }
#catalogue { position: absolute; top: 10.6vw; left: 30px; z-index: 500 !important; }
#itinerary { position: absolute; top: 10.6vw; left: 50%; width: 8%; margin: 0 0 0 -4%; text-align: center; z-index: 500 !important; }
#about { position: absolute; top: 10.6vw; right: 30px; z-index: 500 !important; }
/*
#navigation {
	position: absolute;
	top: 10.6vw;
	z-index: 500 !important;
	width: 100%;
	margin: 30px;
}
.inline {
    display: flex;
    justify-content: space-between;
}
*/
/*
nav {
	position: absolute;
	top: 10.6vw;
	z-index: 500 !important;
}
nav .inline {
    display: flex;
    justify-content: space-between;
}
nav a {
	text-decoration: none;
	color: #FFFFFF;
}
nav .inline a { 
	line-height: 2.7vw;
}
nav .inline a:hover { 
	font-family: 'Bradley';
	font-size: 2.3vw;
	line-height: 2.7vw;
	font-weight: normal;
	font-style: normal;	
	letter-spacing: 1px;
}
*/
/* CATALOGUE -------------------------------------------------------------------->*/


a { text-decoration: none; color: rgb(255, 255, 255); }
    a:hover { font-family: 'Bradley';}
.active { font-family: 'Bradley'; font-size: 2vw; line-height: 1.5vw;}
a img { border: none; border-style: none; }
a:active img { border: none; }
quote {
	font-family: 'Bradley';
	font-size:1.5vw;
	line-height:1.6vw;
}


#catalogueContainer { position: absolute; top: 18.8vw; left: 30px; width: 55%; z-index: 400 !important; margin: 0 0 6vw 0; }
#bookList ul li { padding-left: 2.8vw;}
    /*#bookList ul li:hover { font-family: "P.T. Barnum", Helvetica, Arial, sans-serif; font-size: 2.8vw; line-height: 2.6vw; font-weight: normal; font-style: normal; letter-spacing: 1px; cursor: pointer; }*/
	#bookList ul li .book-title { text-indent: -2.8vw; }
	#bookList ul li:hover .book-title { font-family: 'Bradley'; font-size: 2.8vw; line-height: 2.6vw; font-weight: normal; font-style: normal; letter-spacing: 1px; cursor: pointer; } .bold{ font-weight:bold;}
	#bookList ul li.indent { margin-left: 4.2vw; }
.bold{ font-weight:bold; }
.location { display: none; }
.documentationContainer { position: fixed; top: 50%; left: 50%; overflow: visible; z-index: 1000000; -webkit-transition-property: -webkit-transform; -webkit-transition-timing-function: ease-out; max-width: 30%; max-height: 30%; }
    .documentationContainer.landscape { max-width: 42%; max-height: 42%; }
    .documentationContainer:hover { cursor: pointer; }
.image { position: absolute; max-width: 100%; max-height: 100%; margin-top: -50%; margin-left: -50%; z-index: 1000000; box-shadow: 0px 0px 6px rgba(0,0,0,0.3); -moz-box-shadow: 00px 0px 6px rgba(0,0,0,0.3); -webkit-box-shadow: 0px 0px 6px rgba(0,0,0,0.3); }
ul {
	list-style-type: none;

}







/*
img	{
	box-shadow: 0px 0px 6px rgba(0,0,0,0.3);
	-moz-box-shadow: 00px 0px 6px rgba(0,0,0,0.3);
	-webkit-box-shadow: 0px 0px 6px rgba(0,0,0,0.3);
}
*/
iframe.bg { position: fixed; top: 0; left: 0; width: 125%; height: 125%; z-index: -100 !important; margin: -10% 0 0 0; }
iframe.bgbg { position: fixed; top: -10%; left: -30%; width: 130%; height: 130%; z-index: -100 !important; margin: 0 0 0 0; }
/* ITINERARY -------------------------------------------------------------------->*/
#itineraryContainer { position: absolute; top: 18.8vw; left: 30px; width: 50%; z-index: 400 !important; }
.bookshopLocation { margin: 0 0 6vw 0; }
/* ABOUT -------------------------------------------------------------------->*/
#aboutContainer { position: absolute; top: 18.8vw; left: 30px; width: 40%; z-index: 400 !important; margin: 0 0 4.1vw 0; }
    #aboutContainer p { margin-bottom: 1.9vw; }
    #aboutContainer a { font-family: 'Bradley'; font-size: 2.8vw; line-height: 2.6vw; font-weight: normal; font-style: normal; letter-spacing: 1px; }
/* ABOUT -------------------------------------------------------------------->*/
/*
img {
    float:left;
    display:block;
    height:40px;
    width:40px;
    cursor:pointer;
}
#div1,#div2,#div3,#div4 {
    display:none;
    position:absolute;
    top:50px;
}
#img1,#img3{background:#b00;}
#img2,#img4{background:#d00;}
#div1{background:#077;left:0;}
#div2{background:#0b0;left:40px;}
#div3{background:#b0b;left:80px;}
#div4{background:#555;left:120px;}
*/
/* ABOUT -------------------------------------------------------------------->*/
/*
p + p {
	text-indent:4.8vw;
	margin-top: 0 
}
*/
.close { position: fixed; top: 4px; right: 18px; z-index: 6; font-family: "Helvetica Neue", Helvetica, sans-serif; font-weight: normal; font-style: normal; }
/* MAPS -------------------------------------------------------------------->*/
.mapContainer { position: fixed; top: 0; left: 0; width: 105%; height: 105%; z-index: -100 !important; }
.map { width: 100%; height: 100%; }
.gm-fullscreen-control { display: none !important; }
video#bgvid { position: fixed; top: 50%; left: 50%; min-width: 100%; min-height: 100%; width: auto; height: auto; z-index: -100 !important; -ms-transform: translateX(-50%) translateY(-50%); -moz-transform: translateX(-50%) translateY(-50%); -webkit-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%); background: url(polina.jpg) no-repeat; background-size: cover; }

/* adaption 0.2 */
.book-content { display: none; }
figcaption { font-size: 1em; }
#catalogue { top: 17vw; left: 40px; }
#catalogueContainer { top: 22vw; left: 40px; }

.container-slogan { position: absolute; left: 0; width: 250px; height: 250px; }
    .container-slogan .slogan { position: absolute; left: 0; padding: 0; visibility: hidden; opacity: 0; /*transition: visibility 0s 1s, opacity 1s ease;*/ }
        .container-slogan .slogan.shown { visibility: visible; opacity: 1; /*transition: opacity 2s ease;*/ }

#titleheader { cursor: move; z-index: 10; position: absolute; width: 250px; height: 250px; }

iframe.video { position: fixed; top: 0; left: 0; min-width: 100%; min-height: 100%; width: auto; height: auto; z-index: -100 !important; }


/* MEDIA QUERIES -------------------------------------------------------------------->*/
/* Mobile ----------- */
@media only screen and (max-width: 767px) { }
/* iPads (landscape) ----------- */
@media only screen and (min-width : 768px) and (max-width : 1200px) and (orientation : landscape) {
}
/* iPads (portrait) ----------- */
@media only screen and (min-width : 768px) and (max-width : 1200px) and (orientation : portrait) {
}
/* Desktops and laptops ----------- */
@media only screen and (min-width : 1201px) {
}
/* Large screens ----------- */
@media only screen and (min-width : 1824px) {
}
/* END -------------------------------------------------------------------->*/

@media print{

	.hide{
		display: none;
	  }

	
	  #bgvid{ 
		  display: none;
	  }
	}
	